# Default ignored files
/shelf/
/.idea/workspace.xml
/.idea/artifacts
/.idea/dataSources/
.DS_Store
META-INF
*.class
note.txt
*.jar
./test.config.yml

# Maven Ignore Files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
